@font-face {
    font-family: "Gotham Pro-Bold-BTN8n6eV" ;
    src: url('../Fonts/gothampro-bold.woff') format('woff');
}
.bookDemo{
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: rgb(0, 0, 0);
    font-family: "Gotham Pro-Bold-BTN8n6eV";
    text-align: center;
    line-height: 46px;
}

@font-face {
    font-family: "Gotham Pro-Normal-EO0rZg56";
    src: url('../Fonts/gothampro.woff') format('woff');
}
.Follow{
    opacity: 0.8;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: "Gotham Pro-Normal-EO0rZg56";
    text-align: center;
    line-height: 26px;
}

* {
    box-sizing: border-box;
  }
   
   
  .container {
    padding: 30px 30px;
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
  }
   
  .image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
  }
   
  .image-stack__item--bottom {
    grid-column: 2 / -2;
    grid-row: 1;
  }
   
  /* .image-stack__item--middle {
    grid-column: 3 / 9;
    grid-row: 1;
  } */
   
  .image-stack__item--top {
    grid-row: 1;
    grid-column: 1 / span 2;
    padding-top: 7rem;
    z-index: 1;
  }

  @media (max-width: 800px) {
    .image-stack__item--top {
        grid-column: 1 / span 3;
        padding-top: 4rem;
    }
  }

  @font-face {
    font-family: "Gotham Pro-Bold-BTN8n6eV";
    src: url('../Fonts/gothampro-bold.woff');
  }
  .welcome{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: "Gotham Pro-Bold-BTN8n6eV";
    line-height: 20px;
  }

  @font-face {
    font-family: "Gotham Pro-Normal-EO0rZg56" ;
    src: url('../Fonts/gothampro.woff') format('woff');
  }
  .dashboard{
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-family: "Gotham Pro-Normal-EO0rZg56";
    text-align: left;
    line-height: 20px;
  }

  @media (max-width:600px) {
     .welcome{
        font-size: 8px;
        line-height: normal;
     } 
     .dashboard{
        font-size: 8px;
        line-height: normal;
     }
  }

  /* .container.demo-started .image-stack__item--bottom img {
    filter: brightness(70%);
  } */

   .image-stack__item--bottom {
    position: relative;
  }
  
  .overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  
  .MuiTooltip-popper[data-popper-placement*="right"] .css-1k51tf5-MuiTooltip-tooltip {
    transform-origin: right center;
    margin-left: -190% !important;
    margin-top: -88% !important;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    /* padding: 1rem; */
}