@font-face {
    font-family: "Gotham Pro-Bold-BTN8n6eV";
    src: url('../Fonts/gothampro-bold.woff') format('woff');
}
.whatIs{
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: rgb(0, 0, 0);
    font-family: "Gotham Pro-Bold-BTN8n6eV";
    text-align: center;
    line-height: 46px;
}

@font-face {
    font-family:  "Gotham Pro-Normal-EO0rZg56";
    src: url('../Fonts/gothampro.woff') format('woff');
}
.custom{
    font-weight: 400;
    opacity: 0.8;
    font-style: normal;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: "Gotham Pro-Normal-EO0rZg56";
    text-align: center;
    line-height: 26px;
    max-width: 42%;
}

@font-face {
    font-family: "Gotham Pro-Normal-EO0rZg56" ;
    src: url('../Fonts/gothampro.woff') format('woff');
}
.contentHeading{
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: rgb(0, 0, 0);
    z-index: 54;
    font-family: "Gotham Pro-Normal-EO0rZg56";
    /* overflow: visible; */
    /* white-space: pre-wrap; */
    /* text-align: left; */
    /* padding: 0px; */
    line-height: 46px;
}

.contentText{
    opacity: 0.8;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: "Gotham Pro-Normal-EO0rZg56";
    line-height: 26px;
}


.css-1aquho2-MuiTabs-indicator {
    background-color: rgb(15, 103, 100) !important; /* Your desired background color */
    max-height: 2px !important;
}

@font-face {
    font-family: "Gotham Pro-Bold-BTN8n6eV" ;
    src: url('../Fonts/gothampro-bold.woff') format('woff');
}
.featuresBtn{
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 16px !important;
    color: rgb(0, 0, 0) !important;
    font-family: "Gotham Pro-Bold-BTN8n6eV" !important;
    line-height: 26px !important;
    text-transform: none !important;
}

@font-face {
    font-family: "Gotham Pro-Normal-EO0rZg56" ;
    src: url('../Fonts/gothampro.woff') format('woff');
}
.nonSelected{
    font-weight: 400  !important;
    font-style: normal  !important;
    font-size: 16px  !important;
    color: rgb(0, 0, 0)  !important;
    font-family: "Gotham Pro-Normal-EO0rZg56"  !important;
    text-transform: none  !important;
}

@media (max-width:300px) {
    .contentText{
        font-size: 10px;
    }

    .contentHeading{
        font-size: 20px;
    }
}

.FeatureImage {
    position: absolute;
    right: -25%; /* Adjust the value as needed */
    z-index: 1;
  }
