@font-face {
    font-family: "Gotham Pro-Bold-BTN8n6eV" ;
    src: url('../Fonts/gothampro-bold.woff') format('woff');
}
.occupancytext{
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: rgb(0, 0, 0);
    z-index: 85;
    font-family: "Gotham Pro-Bold-BTN8n6eV";
    line-height: 40px;
}

@font-face {
    font-family: "Gotham Book-Italic-998JD7Yk";
    src: url('../Fonts/gotham-bookitalic.woff') format('woff');
}
.spanTag{
    opacity: 0.8;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgb(0, 0, 0);
    z-index: 86;
    transition-property: none;
    font-family: "Gotham Book-Italic-998JD7Yk";
    line-height: 26px;
}

@font-face {
    font-family: "Gotham Pro-Bold-BTN8n6eV";
    src: url('../Fonts/gothampro-bold.woff') format('woff');
}

.selected12 {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: "Gotham Pro-Bold-BTN8n6eV";
    line-height: 29px;
    cursor: pointer;
}

.sidearrow-animation {
    animation: sidearrow 2s infinite;
    -webkit-animation: sidearrow 2s infinite; /* Safari and Chrome */
}

@keyframes sidearrow {
    0% { opacity: 0; transform: translateX(-50px); }
    50% { opacity: 1; transform: translateX(0px); }
    100% { opacity: 0; transform: translateX(50px); }
}

@-webkit-keyframes sidearrow /* Safari and Chrome */ {
    0% { opacity: 0; transform: translateX(-50px); }
    50% { opacity: 1; transform: translateX(0px); }
    100% { opacity: 0; transform: translateX(50px); }
}

.animated-line {
    animation: slideRight 1s ease forwards; /* Adjust duration and timing function as needed */
  }
  
  /* Define the keyframes for the animation */
  @keyframes slideRight {
    0% {
      width: 0%;
    }
    100% {
      width: 70%; /* Width of the line when fully animated */
    }
  }

  @font-face {
    font-family: "Gotham Pro-Normal-EO0rZg56";
    src: url('../Fonts/gothampro.woff') format('woff');
  }
  .easily {
    position: relative;
    background-color: rgb(219, 241, 243);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: "Gotham Pro-Normal-EO0rZg56";
    text-align: left;
    line-height: 22px;
    padding: 1rem;
  }
  
  .easily::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border: solid transparent;
    border-width: 10px;
    border-right-color: rgb(219, 241, 243); /* Color for the arrow */
    border-left-width: 0;
    border-top-width: 10px;
    border-bottom-width: 10px;
}

  

  @media (max-width: 500px) {
    .easily {
        font-size: 11px;
        line-height: 11px;
        padding: 8px;
    }
}

@font-face {
    font-family: "Gotham Pro-Normal-EO0rZg56";
    src: url('../Fonts/gothampro.woff') format('woff');
  }
  .computerText {
    position: relative;
    background-color: rgb(219, 241, 243);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: "Gotham Pro-Normal-EO0rZg56";
    text-align: left;
    line-height: 22px;
    padding: 1rem;
}

.computerText::after {
    content: "";
    position: absolute;
    top: 70%;
    right: 100%;
    transform: translateY(-50%);
    border: solid transparent;
    border-width: 10px;
    border-right-color: rgb(219, 241, 243); /* Adjusted border-right-color */
    border-left-width: 0; /* Changed border-left-width to 0 */
    border-top-width: 10px;
    border-bottom-width: 10px;
}



  @media (max-width: 500px) {
    .computerText {
        font-size: 11px;
        line-height: 11px;
        padding: 8px;
    }
}

  

  
  
